// REM

$micro-rem: 0.5rem; // 8px
$mini-rem: 0.75rem; // 12px
$macro-rem: 2rem; // 32 px

$standart-rem: 1.25rem; // 20px
$small-rem: calc($standart-rem / 2); // 10px
$big-rem: $standart-rem * 2; // 40px

// PX

$standart-px: 20px;
$small-px: calc($standart-px / 2);
$big-px: $standart-px * 2;

// FONT SIZE

$font-size-xxl: 2.5rem;
$font-size-xl: 2rem;
$font-size-l: 1.75rem;
$font-size-m: 1.5rem;
$font-size-s: 1.25rem;
$font-size-xs: 1rem;

// BORDER

$standart-border: 1px;
$border-radius: 5px;

// FONT

$smaller-font: 0.875rem; // 14px
$standart-font: 1rem; // 16px
