<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Email</mat-label>
    <input id="email" type="text" matInput placeholder="jane_doe@example.com" formControlName="email" />
    @if (loginForm.get('email')?.hasError('email')) {
      <mat-error>Please enter a valid email</mat-error>
    }
    @if (loginForm.get('email')?.hasError('required')) {
      <mat-error>Please enter your email</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Password</mat-label>
    <input
      [type]="hidePassword() ? 'password' : 'text'"
      id="password"
      matInput
      placeholder="password123"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Toggle password visibility"
      (click)="hidePassword.set(!hidePassword())"
    >
      <mat-icon>{{ hidePassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>

    <mat-error>{{ errorMessage() }}</mat-error>
  </mat-form-field>

  <app-custom-button type="submit" [customClass]="'login-button'" [icon]="'login'" [disabled]="loginForm.invalid">
    Login
  </app-custom-button>
</form>
