<mat-chip-listbox aria-label="select a shirt size" class="sort-chips-container">
  <mat-chip-option>
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-up.svg" alt="Arrow Up" />
    Date</mat-chip-option
  >
  <mat-chip-option>
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-down.svg" alt="Arrow Down" />
    Date
  </mat-chip-option>
  <mat-chip-option>
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-up.svg" alt="Arrow Up" />
    View Count
  </mat-chip-option>
  <mat-chip-option>
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-down.svg" alt="Arrow Down" />
    View Count
  </mat-chip-option>
</mat-chip-listbox>
