@import '../../../styles/numbers.module';
@import '../../../styles/colors.module';

.link {
  border-radius: $border-radius;
}

.fab-link {
  width: $standart-rem * 3.5;
  height: $standart-rem * 2.5;
}

.to-main-link {
  margin-right: $standart-rem;
}

.mat-icon {
  width: $macro-rem;
  height: $macro-rem;
}

.mini-fab-link {
  color: $accent-color;
  background-color: $background-color;
}

.material-icons {
  font-size: $font-size-xl;
}

.to-main {
  min-width: max-content;
}
