@import '../../../styles/numbers.module';
@import '../../../styles/colors.module';

.link {
  width: $standart-rem * 3.5;
  height: $standart-rem * 2.5;
  border-radius: $border-radius;
}

.to-main-link {
  margin-right: $standart-rem;
}

.mat-icon {
  width: $macro-rem;
  height: $macro-rem;
}

.material-icons {
  font-size: $font-size-xl;
}
