@import '../../../../../styles/numbers.module';
@import '../../../../../styles/colors.module';

.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: $standart-rem * 13;
  height: fit-content;
  min-height: $standart-rem * 23;
  margin: $small-rem;
  padding: $small-rem;

  background-color: $pale-background-color;
  border-bottom: $small-rem solid $accent-color;
  border-radius: $border-radius;
}

.video-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;

  .video-title {
    align-self: flex-end;
  }
}

.video-image,
.video-image-container {
  width: 100%;
}

.video-title {
  margin: 0;
  padding: $small-rem;

  font-size: 18px;
  line-height: normal;
  text-align: right;
}
