@import '../../../styles/numbers.module';

.pagination-container {
  display: flex;
  gap: $small-rem;
  align-items: center;
  justify-content: space-between;

  width: fit-content;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
