<div class="pagination-container">
  @let isFirstPage = paginationService.isFirstPage();
  @let isLastPage = paginationService.isLastPage();
  <app-custom-button
    [attributeType]="'mat-icon-button'"
    [class]="isFirstPage ? 'disabled' : ''"
    [disabled]="isFirstPage"
    [customClass]="'pagination-button'"
    [icon]="'chevron_left'"
    (click)="moveToPreviousPage()"
    ><</app-custom-button
  >
  <app-custom-button
    [attributeType]="'mat-icon-button'"
    [class]="isLastPage ? 'disabled' : ''"
    [disabled]="isLastPage"
    [customClass]="'pagination-button'"
    [icon]="'chevron_right'"
    (click)="moveToNextPage()"
    >></app-custom-button
  >
</div>
