@import '../../../styles/numbers.module';

.page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: $standart-rem * 2;
}

.form-button {
  border-radius: $border-radius;
}

.form-buttons-wrapper {
  display: flex;
  align-self: flex-end;
  margin-right: 0;
  margin-left: auto;
}

.mat-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: $standart-rem * 30;
  margin: $standart-rem * 3 auto;
}

.mat-step-title {
  margin: $standart-rem * 3 auto $standart-rem;
}

.mat-mdc-form-field {
  min-width: $standart-rem * 30;
}
