<form [formGroup]="formGroup" class="page-form" (ngSubmit)="onSubmit()">
  <mat-stepper linear #stepper>
    <mat-step class="mat-step" label="Title" state="title" [stepControl]="formGroup.controls['title']">
      <form [formGroup]="formGroup">
        <p class="mat-step-title">Add the title of your video</p>

        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          @if (formGroup.get('title')?.hasError('required')) {
            <mat-error>Please enter a title</mat-error>
          }
          @if (formGroup.get('title')?.hasError('minlength')) {
            <mat-error>The title is too short</mat-error>
          }
          @if (formGroup.get('title')?.hasError('maxlength')) {
            <mat-error>The title is too long</mat-error>
          }
        </mat-form-field>

        <div>
          <button mat-button matStepperNext class="form-button" [disabled]="formGroup.controls['title'].invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      class="mat-step"
      label="Description"
      state="description"
      [stepControl]="formGroup.controls['description']"
    >
      <form [formGroup]="formGroup">
        <p class="mat-step-title">Add the description of your video</p>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          @if (formGroup.get('description')?.hasError('maxlength')) {
            <mat-error>The description is too long</mat-error>
          }
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious class="form-button">Back</button>
          <button mat-button matStepperNext class="form-button" [disabled]="formGroup.controls['description'].invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step class="mat-step" label="Image Link" state="imageLink" [stepControl]="formGroup.controls['imageLink']">
      <form [formGroup]="formGroup">
        <p class="mat-step-title">Add the image link of your video</p>

        <mat-form-field appearance="outline">
          <mat-label>Image Link</mat-label>
          <input matInput formControlName="imageLink" />
          @if (formGroup.get('imageLink')?.hasError('required')) {
            <mat-error>Please enter an image link</mat-error>
          }
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious class="form-button">Back</button>
          <button mat-button matStepperNext class="form-button" [disabled]="formGroup.controls['imageLink'].invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step class="mat-step" label="Video Link" state="videoLink" [stepControl]="formGroup.controls['videoLink']">
      <form [formGroup]="formGroup">
        <p class="mat-step-title">Add the video link of your video</p>

        <mat-form-field appearance="outline">
          <mat-label>Video Link</mat-label>
          <input matInput formControlName="videoLink" />
          @if (formGroup.get('videoLink')?.hasError('required')) {
            <mat-error>Please enter a video link</mat-error>
          }
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious class="form-button">Back</button>
          <button mat-button matStepperNext class="form-button" [disabled]="formGroup.controls['videoLink'].invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      class="mat-step"
      label="Creation Date"
      state="creationDate"
      [stepControl]="formGroup.controls['creationDate']"
    >
      <form [formGroup]="formGroup">
        <p class="mat-step-title">Add the creation date of your video</p>

        <mat-form-field appearance="outline">
          <mat-label>Creation Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="creationDate"
            [max]="maxDate"
            [placeholder]="maxDate ? (maxDate | date: 'MMMM dd, yyyy')! : 'Pick a date'"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          @if (formGroup.get('creationDate')?.hasError('futureDate')) {
            <mat-error>The date is invalid</mat-error>
          }
          @if (formGroup.get('creationDate')?.hasError('required')) {
            <mat-error>Please enter a date</mat-error>
          }
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious class="form-button">Back</button>
          <button mat-button matStepperNext class="form-button" [disabled]="formGroup.controls['creationDate'].invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step class="mat-step" label="Tags" state="tags" [stepControl]="formGroup.controls['tags']">
      <form [formGroup]="formGroup">
        <p class="mat-step-title">Add the tags of your video</p>
        <app-tags-form (tagsChange)="setTags($event)"></app-tags-form>
        <div>
          <button mat-button matStepperPrevious class="form-button">Back</button>
        </div>
      </form>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="title">
      <mat-icon>badge</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="description">
      <mat-icon>edit_note</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="imageLink">
      <mat-icon>add_photo_alternate</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="videoLink">
      <mat-icon>movie_edit</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="creationDate">
      <mat-icon>event</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="tags">
      <mat-icon>loyalty</mat-icon>
    </ng-template>
  </mat-stepper>

  <div class="form-buttons-wrapper">
    <app-custom-button [customClass]="'form-reset-button'" (click)="reset($event)">Reset</app-custom-button>
    <app-custom-button type="submit" [customClass]="'form-submit-button'" [disabled]="formGroup.invalid"
      >Submit</app-custom-button
    >
  </div>
</form>
