@import '../../../styles/numbers.module';
@import '../../../styles/colors.module';

.detailed-info-page {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}

.video-card {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;

  width: 100%;
  max-width: $big-rem * 30;
  margin: $big-rem auto;
  padding: $standart-rem;

  word-break: normal;

  background-color: $pale-background-color;
  border-radius: $border-radius;
}

.link-back {
  position: absolute;
  top: 0;
  left: -$standart-rem * 2.4;

  width: $standart-rem * 2.4;
  height: $standart-rem * 2.4;

  border-radius: $border-radius 0 0 $border-radius;
}

.video-image-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 45%;
  min-height: $standart-rem * 25;
  margin: 0 auto;
  padding: $small-rem;
}

.video-image {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shown {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 50%;
  padding: $small-rem;
}

.video-description {
  display: flex;
  flex-grow: 1;
  align-self: center;
}

.video-statistics {
  margin: 0 auto;
}

.video-publication-date {
  align-self: flex-end;
  font-size: $font-size-xxs;
  color: $accent-color;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.not-found-image-container {
  position: relative;

  display: flex;

  width: 100%;
  min-height: $standart-rem * 15;
  margin: 0 auto;
}

.not-found-image {
  margin: ($standart-rem * 4) auto 0;
}

.not-found-text {
  margin: $standart-rem * 4;
  font-size: $font-size-xl;
}

.additional-button {
  position: absolute;
  right: $standart-rem;
  bottom: $small-rem;
}
