<div class="detailed-info-page">
  @let isImageLoaded = imageLoaded();
  @let video = videoService.detailedInfo();

  @if (!isImageLoaded) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  @if (video) {
    @let isCustomCard = video.kind === 'custom#card';
    @let snippet = video.snippet;

    <article class="video-card" appChangeColor [publicationDate]="snippet.publishedAt">
      <app-custom-link
        [attributeType]="'mat-icon-button'"
        [customClass]="'link-back'"
        class="link-back"
        [icon]="'menu_open'"
        appChangeColor
        [publicationDate]="snippet.publishedAt"
        [type]="'background'"
        (click)="location.back()"
      ></app-custom-link>
      <div class="video-image-container">
        @if (!isImageLoaded) {
          <mat-spinner class="spinner"></mat-spinner>
        }
        <img
          class="video-image"
          [class]="isImageLoaded ? 'shown' : ''"
          [alt]="snippet.title"
          (load)="imageLoaded.set(true)"
          [src]="snippet.thumbnails.high.url"
        />
      </div>
      <div class="video-info-container">
        <p class="video-publication-date">{{ snippet.publishedAt | date: 'EEEE, dd MMMM yyyy' }}</p>
        <h2 class="video-title">{{ snippet.title }}</h2>
        <p class="video-description">{{ snippet.description }}</p>
        <app-video-statistics [video]="video" class="video-statistics"></app-video-statistics>
      </div>
      @if (isCustomCard) {
        <app-delete-button class="additional-button" [id]="video.id"></app-delete-button>
      } @else {
        <app-favorite-button
          class="additional-button"
          [id]="video.id"
          [video]="video"
          [isFavorite]="isFavorite()"
        ></app-favorite-button>
      }
    </article>
  } @else if (video !== undefined) {
    <div class="not-found">
      <div class="not-found-image-container">
        @if (!isImageLoaded) {
          <mat-spinner class="spinner"></mat-spinner>
        }
        <img
          class="not-found-image"
          [class]="isImageLoaded ? 'shown' : ''"
          (load)="imageLoaded.set(true)"
          src="../../../../assets/img/video-not-found.jpg"
          alt="Video not found"
        />
      </div>
      <p class="not-found-text">We couldn't find this video</p>
      <app-custom-link [attributeType]="'mat-flat-button'" [customClass]="'to-main'" routerLink="/"
        >Go back to Main</app-custom-link
      >
    </div>
  }
</div>
