<header class="header">
  <div class="header-container">
    <div class="header-controls">
      <app-custom-link customClass="to-main-link" icon="play_arrow" routerLink="/"></app-custom-link>

      <app-search></app-search>

      @if (isMainPage$ | async) {
        <app-custom-button
          attributeType="mat-mini-fab"
          icon="tune"
          customClass="settings-button"
          (click)="toggleSortVisibility()"
        ></app-custom-button>
      }
    </div>

    <div class="user-controls">
      <app-user [isLoggedIn]="isLoggedIn$ | async"></app-user>

      @if (isLoggedIn$ | async) {
        <app-custom-link attributeType="mat-mini-fab" icon="admin_panel_settings" routerLink="/admin"></app-custom-link>
      }
    </div>
  </div>

  @if (isSortVisible && (isMainPage$ | async)) {
    <div class="sort-container">
      <app-sort></app-sort>
      <app-filter></app-filter>
    </div>
  }
</header>
