@import '../../styles/numbers.module';

.header {
  width: 100%;
  height: max-content;
  padding: 15px 0;

  background-color: #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.header-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-main-link {
  height: 36px;
  border-radius: $border-radius;
}
