@import '../../styles/numbers.module';
@import '../../styles/colors.module';

.header,
.sort-container {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  padding: $standart-rem $standart-rem * 2;

  background-color: $header-background;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.header-controls {
  display: flex;
  gap: $small-rem;
  align-items: center;
}
