@import '../../styles/numbers.module';
@import '../../styles/colors.module';

.header,
.sort-container {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  padding: $standart-rem $standart-rem * 2;

  background-color: $pale-background-color;
}

.user-controls {
  display: flex;
  gap: $small-rem;
  align-items: center;
}

.sort-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  padding-bottom: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.header-controls {
  display: flex;
  gap: $small-rem;
  align-items: center;
}
