<div class="statistics-container">
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="visibility" class="icon"></mat-icon>
    <p>{{ Views }}</p>
  </div>
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="favorite" class="icon"></mat-icon>
    <p>{{ Likes }}</p>
  </div>
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="heart_broken" class="icon"></mat-icon>
    <p>{{ Dislikes }}</p>
  </div>
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="comment" class="icon"></mat-icon>
    <p>{{ Comments }}</p>
  </div>
</div>
