<div class="statistics-container">
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="visibility" class="icon"></mat-icon>
    <p>{{ video.statistics.viewCount }}</p>
  </div>
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="favorite" class="icon"></mat-icon>
    <p>{{ video.statistics.likeCount }}</p>
  </div>
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="heart_broken" class="icon"></mat-icon>
    <p>{{ video.statistics.dislikeCount }}</p>
  </div>
  <div class="statistics-item">
    <mat-icon aria-hidden="false" fontIcon="comment" class="icon"></mat-icon>
    <p>{{ video.statistics.commentCount }}</p>
  </div>
</div>
