<mat-chip-listbox
  aria-label="select a shirt size"
  class="sort-chips-container"
  (change)="videoService.sortCriteria.set($event.value)"
>
  @let criterion = videoService.sortCriteria().criterion;
  @let direction = videoService.sortCriteria().direction;
  @let dateAsc = criterion === 'date' && direction === 'asc';
  @let dateDesc = criterion === 'date' && direction === 'desc';
  @let viewCountAsc = criterion === 'viewCount' && direction === 'asc';
  @let viewCountDesc = criterion === 'viewCount' && direction === 'desc';

  <mat-chip-option
    [value]="{ criterion: 'date', direction: 'asc' }"
    [disabled]="dateAsc"
    [class]="dateAsc ? 'disabled-chip' : ''"
  >
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-up.svg" alt="Arrow Up" />
    Date
  </mat-chip-option>
  <mat-chip-option
    [value]="{ criterion: 'date', direction: 'desc' }"
    [disabled]="dateDesc"
    [class]="dateDesc ? 'disabled-chip' : ''"
  >
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-down.svg" alt="Arrow Down" />
    Date
  </mat-chip-option>
  <mat-chip-option
    [value]="{ criterion: 'viewCount', direction: 'asc' }"
    [disabled]="viewCountAsc"
    [class]="viewCountAsc ? 'disabled-chip' : ''"
  >
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-up.svg" alt="Arrow Up" />
    View Count
  </mat-chip-option>
  <mat-chip-option
    [value]="{ criterion: 'viewCount', direction: 'desc' }"
    [disabled]="viewCountDesc"
    [class]="viewCountDesc ? 'disabled-chip' : ''"
  >
    <img class="image" matChipAvatar src="../../../../../assets/img/svg/arrow-down.svg" alt="Arrow Down" />
    View Count
  </mat-chip-option>
</mat-chip-listbox>
