@import '../../../styles/numbers.module';

.input {
  min-width: $standart-px * 20;
  max-width: $standart-px * 30;
  height: $standart-rem * 2;
  padding: 0 $small-px;

  font-size: $smaller-font;

  border: none;
  border-radius: $border-radius 0 0 $border-radius;

  &:focus {
    outline: none;
  }
}

.search-button {
  border-radius: 0 $border-radius $border-radius 0;
}
