@import '../../../styles/numbers.module';
@import '../../../styles/colors.module';

.button {
  border-radius: $border-radius;
}

.raised-button {
  height: $standart-rem * 2;
}

.fab-button {
  width: $standart-rem * 3.5;
  height: $standart-rem * 2.5;
}

.mini-fab-button {
  color: $accent-color;
  background-color: $background-color;
}

.search-button {
  border-radius: 0 $border-radius $border-radius 0;
}

.settings-button {
  margin-left: $standart-rem;
}
