@switch (attributeType) {
  @case ('mat-icon-button') {
    <button mat-icon-button [class]="[customClass, 'icon-button', 'button']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
    </button>
  }
  @case ('mat-mini-fab') {
    <button mat-mini-fab [class]="[customClass, 'mini-fab-button', 'button']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
    </button>
  }
  @case ('mat-fab') {
    <button mat-fab [class]="[customClass, 'fab-button', 'button']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
    </button>
  }
  @case ('mat-flat-button') {
    <button mat-flat-button [class]="[customClass, 'flat-button', 'button']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-content></ng-content>
    </button>
  }
  @default {
    <button mat-raised-button [class]="[customClass, 'raised-button', 'button']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-content></ng-content>
    </button>
  }
}
